body {
    background-image: url("../Image/1204408.jpg");
}

h1.centre {
    text-align: center;
}

a,span {
    display: block;
}

th,td{
    border:1px black solid;
}

div.formulaire {
    margin-bottom: 1em;
}

div.border a {
    font-size: 35px;
    width: 12%;
    margin: 30px;
    text-align: center;
    display: inline-block;
    padding: 0 25px;
    height: 44px;
    opacity: .8;
    color: red;
    text-shadow: 0 0 5px black, 0 0 5px black;
}

li {
    position: relative;
    display: inline-block;
    padding: 10px;
}

div.compte a {
    font-size: 25px;
    margin: 30px;
    display: inline-block;
    height: 44px;
    color: black;
}