body {
  background-image: url(../Image/wallpaper.jpg);
}

body.index{
  margin: 0px;
}

h1.centre {
  text-align: center;
}

span {
  display: block;
}

th,td {
  border: 1px black solid;
  background-color: white;
}

td.nocolor {
  border: 0;
  background-color: initial;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
  margin:0px;
}

.border {
  font-size: 30px;
  display: inline-block;
  width: 100%;
  margin: 0px;
  position: sticky;
}

.border li {
  float: left;
  width: 25%;
  text-align: center;
}

.border a{
  color: antiquewhite;
}

.compte a {
  font-size: 25px;
  display: inline-block;
  height: 44px;
}
.compte{
  margin-top: 1em;
}

.compte li {
  width: 15%;
  text-align: center;
  position: relative;
  display: inline-block;
}
